
body { background-color: #034F20;
    position: relative;
  left: 40px;
    top: 40px;
    font-size: 25px;
    font-family: monospace;
    font-variant: small-caps;
    font-weight:200;
        width: 1100px
   }

h1 {top: 45px; left: 50px;
   font-size: 25px;
   color: #EA4630;
    font-family: monospace;
    font-variant: small-caps;
    font-weight: 200;
    letter-spacing: 0.1em
}
h2 {
    font-size: 300px;
    color: #7BA88C;
    font-family: Bookman, URW Bookman L, serif;
    font-weight:600
    
   }

h3 {
    color: #EA4630;
    width: 1100px
}

a {
    color: #EA4630
}
    
button {
    
}
